@model OEleitor.WebApp.MVC.Models.BairroViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card border-0 mb-3">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Bairros">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo bairro</li>
            </ol>
        </nav>
    </div>

    <div class="card-body" style="max-width: 35rem;">
        <h5 class="card-title">Cadastrar Bairro</h5>
        <form asp-action="NovoBairro" asp-controller="Bairro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BairroNome" class="control-label">Nome do bairro</label>
                <input asp-for="BairroNome" class="form-control" />
                <span asp-validation-for="BairroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
